@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Electrolize', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #05070d;
    color: #fff;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .5rem;
}

html::-webkit-scrollbar-track {
    background: transparent; 
}

html::-webkit-scrollbar-thumb {
    background-color: var(--tool-label-color); 
    border-radius: 10px;
    border: 2px solid var(--tool-background-color); 
}

html::-webkit-scrollbar-thumb:hover {
    filter: brightness(0.8);
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

:root {
    --primary-color: #f97316;
    --primary-color-hover: #f7853f;
    --important-color: #d17d3d;
    --table-row-color: #151f35;
    --border-color: #a84c12bd;
    --navbar-color: #020617;
    --navbar-height: 60px;
    --background-color: #333;
    --sidebar-color: #05070d;
    --sidebar-button-color: #0a0f1b;
    --tool-background-color: #0a0f1b;
    --tool-inner-container-color: #0f172a;
    --tool-border: 2px solid #1e293b;
    --tool-input-color: #1e293b;
    --tool-label-color: #94a3b8;
    --button-color-active: #fd5000;
    --button-secondary-color: #e4b080;
    --project-id-col-width: 2rem;
    --status-col-width: 12rem;
    --project-name-col-width: 14rem;
    --project-notes-col-width: 30rem;
    --base-index: 100;
    --sticky-index: 1000;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--navbar-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

[data-tip] {
    position: relative;
    cursor: help;
    display: inline-block;
}

[data-tip]::before {
    content: attr(data-tip);
    position: absolute;
    bottom: 50%;
    right: 130%; 
    transform: translateY(50%);
    background-color: var(--tool-label-color);
    color: #000000;
    padding: .5rem;
    border-radius: .5rem;
    font-size: 0.75rem;
    font-weight: bold;
    white-space: nowrap;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;
}

[data-tip]:hover::before {
    opacity: 1;
    visibility: visible;
}