@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Electrolize', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000000;
    color: #fff;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

:root {
    --primary-color: #e4610f;
    --primary-color-hover: #e67128;
    --border-color: #a84c12bd;
    --navbar-color: #333;
    --navbar-height: 60px;
    --background-color: #fa701a7e;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--navbar-color);
    display: flex;
    justify-content: center;
    align-items: center;
}